#lxdm {
	background-image: url("background.jpg")
}

#bottom_pane {
	background-image: url("shade.png");
}

#time {
	font: "Sans Bold" 12;
	color: #ffffff;
}

#alignment1 {
	background: #CCCCCC !important;
}

#user_list, #login_entry {
	background-image: none;
}

#prompt, #bottom_pane GtkLabel {
	color: #ffffff;
}
